USE [master]
GO
/****** Object:  Database [Reverso]    Script Date: 06/05/2024 16:50:22 ******/
CREATE DATABASE [Reverso]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Reverso', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Reverso.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Reverso_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Reverso_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Reverso].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Reverso]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 06/05/2024 16:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[ID_CLIENT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CHIFFREAFFAIRE_CLIENT] [decimal](10, 2) NOT NULL,
	[RAISONSOCIAL_SOCIETE] [varchar](50) NOT NULL,
	[NUMERORUE_SOCIETE] [varchar](5) NOT NULL,
	[NOMRUE_SOCIETE] [varchar](30) NOT NULL,
	[VILLE_SOCIETE] [varchar](45) NOT NULL,
	[CODEPOSTAL_SOCIETE] [varchar](5) NOT NULL,
	[TELEPHONE_SOCIETE] [varchar](20) NOT NULL,
	[ADRESSEMAIL_SOCIETE] [varchar](60) NOT NULL,
	[COMMENTAIRE_SOCIETE] [text] NULL,
	[NBREMPLOYE_CLIENT] [int] NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RAISONSOCIAL_SOCI_CLIENT] UNIQUE NONCLUSTERED 
(
	[RAISONSOCIAL_SOCIETE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROSPECT]    Script Date: 06/05/2024 16:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROSPECT](
	[ID_PROSPECT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DATE_PROSPECT] [datetime] NOT NULL,
	[RAISONSOCIAL_SOCIETE] [varchar](50) NOT NULL,
	[NUMERORUE_SOCIETE] [varchar](5) NOT NULL,
	[NOMRUE_SOCIETE] [varchar](30) NOT NULL,
	[VILLE_SOCIETE] [varchar](45) NOT NULL,
	[CODEPOSTAL_SOCIETE] [varchar](5) NOT NULL,
	[TELEPHONE_SOCIETE] [varchar](20) NOT NULL,
	[ADRESSEMAIL_SOCIETE] [varchar](60) NOT NULL,
	[COMMENTAIRE_SOCIETE] [text] NULL,
	[INTERET_PROSPECT] [varchar](3) NOT NULL,
 CONSTRAINT [PK_PROSPECT] PRIMARY KEY CLUSTERED 
(
	[ID_PROSPECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ2_RAISONSOCIAL_SOCI_CLIENT] UNIQUE NONCLUSTERED 
(
	[RAISONSOCIAL_SOCIETE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06/05/2024 16:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Mail] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](250) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [MIN_TELEPHONE_SOCIETE_CLIENT] CHECK  ((len([TELEPHONE_SOCIETE])>=(10)))
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [MIN_TELEPHONE_SOCIETE_CLIENT]
GO
ALTER TABLE [dbo].[PROSPECT]  WITH CHECK ADD  CONSTRAINT [MIN2_TELEPHONE_SOCIETE_CLIENT] CHECK  ((len([TELEPHONE_SOCIETE])>=(10)))
GO
ALTER TABLE [dbo].[PROSPECT] CHECK CONSTRAINT [MIN2_TELEPHONE_SOCIETE_CLIENT]
GO
USE [master]
GO
